.nav {
	grid-area: nav;
	background-color: #fff;
	text-align: center;
	border-radius: 15px;
	padding: 30px 0;
}
nav a {
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.75px;
	color: #a0a3bd;
	padding: 8px 54px 8px 54px;
}
.item {
	margin-bottom: 5px;
	background: transparent;
}
.item a {
	border-radius: 13px;
}
.item a.active {
	background: #00ba88;
	color: #fff ;
	transition: 0.4s;
}
