.message {
	letter-spacing: 0.75px;
	font-size: 15px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: rgba(78, 75, 102, 0.9);
	padding: 12px 20px;
	padding: 12px 20px;
	background: #eff0f6;
	border-radius: 15px;
	margin-bottom: 15px;
	position: relative;
	height: 50px;
}
