body {
	background-color: #ededed;
	overflow-y: scroll;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app-wrapper-content {
	grid-area: content;
	background-color: #fff;border-radius: 15px;
	padding: 26px ;
}
.app-wrapper-content .content img {
	height: 100px;
}
